<div class="conteudo-extra-pesquisa">
  <h1>{{ titulo }}</h1>
  <div class="pesquisa">
    <input type="text" placeholder="Pesquisar">
  </div>
</div>

<div class="conteudo-extra-links" *ngIf="tipoConteudo === 'links'">
  <h2>Início</h2>

  <div class="icone-link-extra">
    <i class="fa-solid fa-circle"></i>
    <a href="#">Conteúdo A</a>
  </div>

  <div class="icone-link-extra">
    <i class="fa-solid fa-circle"></i>
    <a href="#">Conteúdo B</a>
  </div>

  <h2>Cursos</h2>

  <div class="icone-link-extra">
    <i class="fa-solid fa-circle"></i>
    <a href="#">Conteúdo C</a>
  </div>

  <div class="icone-link-extra">
    <i class="fa-solid fa-circle"></i>
    <a href="#">Conteúdo D</a>
  </div>

  <div class="icone-link-extra">
    <i class="fa-solid fa-circle"></i>
    <a href="#">Conteúdo E</a>
  </div>

  <div class="icone-link-extra">
    <i class="fa-solid fa-circle"></i>
    <a href="#">Conteúdo F</a>
  </div>
</div>