<header class="cabecalho">
  <nav>
    <div class="logo-links">
      <div class="logo">
        <img src="assets/midias/logo-gox-academy.png" alt="Logo Go X Academy">
      </div>

      <div class="links">
        <a href="#">Início</a>
        <a href="#">Comunidade</a>
        <a href="#">Suporte</a>
      </div>
    </div>

    <div class="pesquisa-clicaveis">
      <div class="pesquisa">
        <input type="text" placeholder="Pesquisar">
      </div>

      <div class="idioma">
        <img src="assets/midias/icone-brasil-idioma.svg" alt="Bandeira do Brasil">
        <i class="fa-solid fa-caret-down"></i>
      </div>

      <div class="notificacoes">
      </div>

      <div class="perfil">
        <img src="assets/midias/perfil.png" alt="Foto de perfil">
        <i class="fa-solid fa-caret-down"></i>
      </div>
    </div>
  </nav>
</header>